/*

STYLE - JULIETTE - PERSONNALISATION DU TEMPLATE 
truc much
*/

/* ==========================================================================
  ORDRE DERNIER EN LISTE DE STYLES APPLIQUES 
   ========================================================================== */

body {
	font-family: dosis;

}

a, p, li, ul, h2, h4
.row {
	font-family: dosis;

}

/* 1 ER ECRAN */

/* MENU - NAVBAR */




.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
margin: -15px;
}


.main_menu_bg .navbar-default .navbar-nav > .active > a {
color: yellow;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #785d99;
}

.menu-scroll{
background-color:#2a2a2a;
transition: 1s;
}


.single_slider h2{
font-size:3.5rem;
font-family: dosis;
font-weight: bold;
}

.navbar-brand{
height: 100%
;
}

/* VIDEO DE FOND */

.boitevideo{
position: absolute;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
}

video{
position: absolute;
z-index: 0;
width: 100%;
height: 100%;
object-fit: cover;
}

.fond{
position: absolute;
z-index: 1;
background-color: black;
opacity: 0.5;
width: 100%;
height: 100%;
}

.home-overlay-fluid{
padding: 34vh 0px;
height: 100vh;
}

.single_slider{
position: relative;
z-index: 2;

}

.single_slider p {
font-family: dosis;
max-width: 100%;
font-size: 1.9em;
}









/* BOUTONS LICENCES MATERS */



#register .flex-center{
	display:flex;
	align-items:center;
	justify-content:center;
}

#register a{
	width:80%;
	height:60%;
	display:flex;
	align-items:center;
	justify-content:center;
	border: 1px solid rgba(255, 255, 255, .3);
}



.fondviolet1 {
	background-color:#6f4d99;
	height: 150px;
	line-height: 18vh; /* hauteur de ligne (identique) */
}

.fondviolet1 a {
	font-size: 1.5em;
	color: white;
}


.fondviolet1:hover{
	background-color:#63438a;
	height: 150px;
	line-height: 18vh; /* hauteur de ligne (identique) */
	transition: 0.5s;
}



.fondviolet2 {
	background-color:#785d99;
	height: 150px;
	line-height: 10vh; /* hauteur de ligne (identique) */
	transition: 0.5s;
}


.fondviolet2:hover{
	background-color:#5e3690;
	height: 150px;
	line-height: 10vh; /* hauteur de ligne (identique) */
	transition: 0.5s;
}


.fondviolet2 a {
	font-size: 1.5em;
	color: white;
}



/* ACTUALITES */

.petit {
	font-family: dosis;


}

.text-center p {
	font-family: dosis;

}












/*===============
STYLE DE TANIA FOOTER
=================*/
.single_right_footer p {
	font-size: 10pt;
	text-align: justify;
	margin: 1px;
	font-family: dosis;
}





.single_right_footer h4 {
	
	font-family: dosis;

}














}