
/* ==========================================================================
 	STYLE ACCUEIL
   ========================================================================== 
*/

body {
}


/* 1 ER ECRAN */
/* MENU - NAVBAR */


/* MENU - NAVBAR - couleur blanche lien */
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:focus {
color: #fff;
}

/* MENU - NAVBAR - couleur violet lien - focus &  actif */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #aa6af9;
}


/* MENU - NAVBAR - alignement du menu au logo */
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
margin: -15px;
}


/* MENU - NAVBAR - couleur bordure div */
.main_menu_bg .navbar{
border-bottom-color: #6f4d99;
}

/* MENU - NAVBAR - fond couleur menu + vitesse de transition */
.menu-scroll{
background-color:#2a2a2a;
transition: 0.5s;
}



/* MENU - NAVBAR - RESPONSIVE */

@media screen and (max-width: 767px) {
.main_menu_bg .navbar {
background-color:#2a2a2a;
}
}



/*responsive galaxy*/

.navbar-toggle{
margin-top: 8px;
}

.navbar-default .navbar-toggle{
border-color: #aaa;
}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{
margin: 0;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form .navbar-header{
border-style: none;
box-shadow: none;
}


.main_menu_bg .navbar-default .navbar-nav>.active>a {
	border-bottom: none;
	color: #aa6af9;
}

.single_slider h2{
font-size:3.5rem;
font-weight: bold;
}

@media screen and (max-width: 767px) {
.single_slider h2{
font-size:3rem;
}

}

.navbar-brand{
height: 100%;
}





/* VIDEO DE FOND */

.boitevideo{
position: absolute;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
}

video{
position: absolute;
z-index: 0;
width: 100%;
height: 100%;
object-fit: cover;
}

.fond{
position: absolute;
z-index: 1;
background-color: black;
opacity: 0.5;
width: 100%;
height: 100%;
}

.home-overlay-fluid{
padding: 34vh 0px;
height: 100vh;
}

.single_slider{
position: relative;
z-index: 2;

}

.single_slider p {
font-family: 'Nothing You Could Do', cursive;
max-width: 100%;
font-size: 1.9em;
}

@media screen and (max-width: 767px) {
.single_slider p {
font-size:1.5rem;
}

}



.videoscroll{
position: relative;
z-index: 2;
width: 30px;
height: 30px;
border-radius: 15px;
background-color:#6f4d99;
margin-left: auto;
margin-right: auto;
margin-top: 15vh;	
}

.videoscroll:hover{
position: relative;
z-index: 2;
width: 30px;
height: 30px;
border-radius: 15px;
background-color:#785d99;
margin-left: auto;
margin-right: auto;
margin-top: 15vh;	
}


.videoscroll i{
font-size: 13px;
color: white;
margin-left: auto;
margin-right: auto;
margin-top: 8px;	
}



/* BOUTONS LICENCES MASTERS */



#register .flex-center{
	display:flex;
	align-items:center;
	justify-content:center;
}

#register a{
	width:80%;
	height:60%;
	display:flex;
	align-items:center;
	justify-content:center;
	border: 1px solid rgba(255, 255, 255, .3);
}



.fondviolet1 {
	background-color:#6f4d99;
	height: 150px;
	line-height: 18vh; /* hauteur de ligne (identique) */
}

.fondviolet1 a {
	font-size: 1.5em;
	color: white;
}


.fondviolet1:hover{
	background-color:#63438a;
	height: 150px;
	line-height: 18vh; /* hauteur de ligne (identique) */
	transition: 0.5s;
}



.fondviolet2 {
	background-color:#785d99;
	height: 150px;
	line-height: 10vh; /* hauteur de ligne (identique) */
	transition: 0.5s;
}


.fondviolet2:hover{
	background-color:#5e3690;
	height: 150px;
	line-height: 10vh; /* hauteur de ligne (identique) */
	transition: 0.5s;
}


.fondviolet2 a {
	font-size: 1.5em;
	color: white;
}



/* ACTUALITES */

.head_title h2{
    font-size: 5rem;
    color:#6f4d99;
    line-height: 5rem;
    text-align: left;
}

.petit {
    font-size: 2rem;
    color:#6f4d99;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 3rem;
    text-align: left;
}

.image_actu {
	height: 200px;
	width: 200px;
	display: inline-block;
	vertical-align: top;
	margin: 5px;
}

img{
	width: 100%;
	height: 100%;

}

.img:hover { 
	width: 100%;
	height: 100%;
	object-fit:cover;
	filter: grayscale(0%);
}


.single-item {
	width: 100%;
	height: 100%;
	object-fit:cover;
	filter: grayscale(0%);
}

.text-center p {
	font-family: 'Josefin Sans', sans-serif;

}












/*===============
STYLE DE TANIA FOOTER
=================*/





.single_right_footer p {
	font-size: 10pt;
	text-align: justify;
	margin: 1px;
}



.list-inline > li > a:hover, .list-inline  > li > a:focus {
color: #5F4B8B;
}

.single_right_footer  > ul > li > a:hover, .single_right_footer > ul > li > a:focus {
color: #5F4B8B;
}


.fo_bottom_socail > a:hover, .fo_bottom_socail  > a:focus {
color: #5F4B8B;
}
}










/*

STYLE - TANIA - DEUXIÈME PAGE - TRI
*/




.portfolio-menu ul li, .portfolio-title {
color: #5F4B8B;
font-family: 'Gilda Display', serif;

}


.modal-body h3 {
color: #5F4B8B;
font-family: 'Gilda Display', serif;

}











